{
  "openapi": "3.1.0",
  "info": {
    "title": "NimbusPost \u2014 Partner API v2",
    "version": "2.0.0",
    "summary": "The modern NimbusPost partner surface \u2014 create & ship orders, track shipments, manage returns/QC, warehouses, manifests, NDR, your wallet, and outbound webhooks, behind a single API-key pair.",
    "description": "## Overview\n\nThe **Partner API v2** is NimbusPost's modern JSON-over-HTTPS REST surface and the **recommended** API for all new integrations. A single API-key pair authenticates every call. It covers the full shipping lifecycle:\n\n| Area | What you can do |\n| --- | --- |\n| **Orders** | Create forward & reverse (return) orders, list, get, cancel |\n| **Returns & QC** | Attach / read quality-check findings (image URLs + condition flags) on a return |\n| **Shipments** | One-shot create+book, book an existing order, cancel by AWB, request pickup, generate labels |\n| **Tracking** | Single-AWB summary, bulk lookup (\u2264100 AWBs) |\n| **Serviceability & Couriers** | Rate + serviceability check, courier catalogue |\n| **Manifests** | Create a manifest from a set of AWBs (\u2264200) |\n| **NDR** | List exception shipments, submit an NDR action |\n| **Warehouses** | List, OTP-verify a contact phone, find-or-create (pickup + RTO) |\n| **Wallet** | Read your current balance |\n| **Webhooks** | Register/manage outbound webhook subscriptions for real-time events |\n\nEvery endpoint is reached through the NimbusPost API gateway; downstream services are not directly accessible. Legacy surfaces (the `ship.nimbuspost.com/api/*` public API and the per-partner `/v1`, `/unicommerce`, `/easyecom`, `/omsguru` adapters) remain available for existing integrations, but new integrators should build against v2.\n\n## Base URL & paths\n\n```\nhttps://api-v2.nimbuspost.com\n```\n\nThe Partner API v2 lives on its own host. All v2 endpoints live under the `/v2` path \u2014 e.g. `/v2/orders`, `/v2/shipments`, `/v2/tracking/AWB123456789`. Unlike NimbusPost's internal services (which sit under `/api/v1/...`), the v2 partner paths are intentionally clean \u2014 `/v2/orders`, **never** `/v2/api/v1/orders`.\n\n## Authentication \u2014 the `npk_` API-key pair\n\nEvery v2 request authenticates with an **API-key pair** sent as **two headers, both required**:\n\n| Header | Value | Example |\n| --- | --- | --- |\n| `x-api-key` | The public key id (always `npk_`-prefixed) | `npk_a1b2c3d4e5f6a7b8` |\n| `x-api-secret` | The matching secret half | `s3cr3t-\u2026-24-bytes` |\n\nIf **either** header is missing the request is rejected with `401 Unauthorized`. This is a header **pair**, not a `Bearer` token.\n\n```bash\ncurl -X GET https://api-v2.nimbuspost.com/v2/wallet/balance \\\n  -H \"x-api-key: npk_a1b2c3d4e5f6a7b8\" \\\n  -H \"x-api-secret: s3cr3t-...-24-bytes\" \\\n  -H \"Accept: application/json\"\n```\n\n### Generating a key\n\nCreate keys in the **NimbusPost dashboard \u2192 Settings \u2192 API Keys**. When you create or rotate a key, the response shows the **key id and the secret exactly once** \u2014 store the secret immediately; it is never retrievable again. Rotate to mint a new secret; revoke to disable a key. On create you set:\n\n| Field | Type | Required | Notes |\n| --- | --- | --- | --- |\n| `name` | string (1\u2013100) | yes | Human label, e.g. `OMS integration` |\n| `role` | enum `admin` \\| `viewer` | no (default `viewer`) | `admin` = full access; `viewer` = read-only |\n| `piiAccess` | boolean | no (default `false`) | When `true`, responses return **unmasked** PII (customer phone, email, address). Independent of role. |\n| `ipAllowlist` | string[] (\u226450) | no | **Exact** IPv4/IPv6 addresses only \u2014 **CIDR ranges are not supported**. Empty/omitted = any source IP. |\n| `expiresAt` | ISO 8601 datetime | no | Omit for a non-expiring key. |\n| `type` | enum | no (default `generic`) | Target contract; new integrations use `generic`. |\n\n### Roles, PII, IP allowlist, expiry\n\n- **Roles.** A key carries exactly one of two roles \u2014 `admin` (full access) or `viewer` (read-only). The role expands server-side to the same `module:action` scope set NimbusPost uses internally, so a `viewer` key **cannot** create/cancel/book (it gets `401` on mutating routes \u2014 order create, shipment create/book/cancel, warehouse create, NDR action, webhook create/update/delete).\n- **PII access** is a separate flag (`piiAccess`). Without it, customer PII is **masked** in every response. Grant it only to keys that genuinely need unmasked contact details.\n- **IP allowlist.** If set, requests are accepted only from the listed **exact** source IPs (matched against the gateway-resolved client IP). CIDR ranges are rejected at key-creation time. Off-allowlist requests fail authentication (`401`).\n- **Expiry.** After `expiresAt` the key stops authenticating. Omit `expiresAt` for a non-expiring key.\n\n### Channel binding (important)\n\nEach API key is **bound to an `api`-type channel**. Orders you create with that key are **attributed to that channel** in your NimbusPost account. If you run multiple integrations, mint one key per integration so reporting stays clean.\n\n## Conventions\n\n- **Content type.** Send and accept `application/json`. Set `Content-Type: application/json` on every request with a body and `Accept: application/json` on every request.\n- **Success envelope.** Every successful response is wrapped as `{ \"success\": true, \"data\": { \u2026 }, \"meta\": { \"requestId\": \"\u2026\" } }`. Paginated lists carry `meta.pagination` (`{ page, perPage, total, totalPages }`).\n- **Error envelope.** Every failure is wrapped as `{ \"success\": false, \"error\": { type, title, status, code, detail }, \"meta\": { requestId, traceId } }`. **Branch on `error.code`** (stable machine code \u2014 `VALIDATION_FAILED`, `NOT_FOUND`, `UNAUTHORIZED`, \u2026), not on the human-readable `error.detail`. Quote `meta.requestId` when contacting support; `meta.traceId` is the engineering correlation id.\n- **Field casing on the wire.** Order / shipment / warehouse request & response bodies use **`snake_case`** field names (e.g. `order_number`, `payment_mode`, `order_collectable_amount`). The tracking, courier, serviceability and webhook surfaces use **`camelCase`** (e.g. `orderId`, `courierName`, `lastDeliveryAt`). Each endpoint documents its exact shape.\n- **Phones are numbers.** Order `shipping_address.phone` and warehouse contact `phone` are sent as **numeric** values (10-digit), not strings.\n\n## Passthrough bodies\n\nSeveral v2 endpoints (`POST /v2/orders`, `POST /v2/shipments`, `/v2/shipments/book`, `/v2/shipments/pickup`, `/v2/shipments/labels`, `/v2/serviceability`, `/v2/orders/{orderId}/cancel`, `/v2/ndr/{awb}/action`) accept a body that v2 **passes through verbatim** to the owning service's canonical contract (order-service / allocation-service), which performs the authoritative validation. The request schemas documented here reflect that downstream contract; additional fields are tolerated and forwarded.\n\n## Common HTTP statuses\n\n| Status | Meaning |\n| --- | --- |\n| `200` | OK |\n| `201` | Created (order create, shipment create+book, manifest create, webhook create) |\n| `204` | No content (webhook delete) |\n| `401` | Missing/invalid API-key pair, off-allowlist source IP, or a `viewer` key on a mutating route |\n| `404` | Resource not found (order, AWB, webhook) |\n| `422` / `400` | Validation failed (bad/missing fields) |\n| `429` | Rate limited (see `Retry-After`, `x-ratelimit-remaining`, `x-ratelimit-reset`) |\n",
    "contact": {
      "name": "NimbusPost Integrations",
      "url": "https://nimbuspost.com"
    },
    "license": {
      "name": "Proprietary \u2014 \u00a9 NimbusPost",
      "url": "https://nimbuspost.com"
    }
  },
  "servers": [
    {
      "url": "https://api-v2.nimbuspost.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Orders",
      "description": "Create forward & reverse (return) orders, list, get, cancel. Order create does NOT book \u2014 use Shipments to book."
    },
    {
      "name": "Returns & QC",
      "description": "Quality-check findings (image URLs + condition flags) for a reverse (return) order. No multipart upload \u2014 supply public image URLs."
    },
    {
      "name": "Shipments",
      "description": "One-shot create+book, book an existing order, cancel by AWB, request a pickup, generate labels."
    },
    {
      "name": "Tracking",
      "description": "Latest tracking + order summary by AWB, and bulk lookup (\u2264100 AWBs). Bulk never 404s \u2014 unknown AWBs land in notFound[]."
    },
    {
      "name": "Serviceability & Couriers",
      "description": "Rate + serviceability check for a pincode pair, and the courier catalogue."
    },
    {
      "name": "Manifests",
      "description": "Create a manifest from a set of AWBs (\u2264200). Courier + pickup warehouse are derived from the orders behind the AWBs."
    },
    {
      "name": "NDR",
      "description": "List non-delivery (exception) shipments and submit an NDR action (re-attempt / RTO / address or phone update)."
    },
    {
      "name": "Warehouses",
      "description": "List warehouses and find-or-create one (pickup + RTO). Create is gated by a MANDATORY contact-phone OTP flow."
    },
    {
      "name": "Wallet",
      "description": "Read your current wallet balance."
    },
    {
      "name": "Webhooks",
      "description": "Register & manage outbound webhook subscriptions for real-time events, inspect deliveries, and send a test event."
    }
  ],
  "security": [
    {
      "apiKeyId": [],
      "apiKeySecret": []
    }
  ],
  "paths": {
    "/v2/orders": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "createOrder",
        "summary": "Create an order (forward or reverse) \u2014 no booking",
        "description": "Creates an order **without** booking a courier. To create AND book in one call, use `POST /v2/shipments`.\n\n**Reverse / returns** ride the SAME endpoint: set `order_type: \"reverse\"`, point `parent_order_id` at the original forward order, and supply a `return_reason` plus an optional `return_reason_note`. **Reverse with QC at pickup**: add `qc_status: true` and a `qc_data[]` array (image URLs + condition flags); you can also set/replace QC after creation via `PATCH /v2/orders/{orderId}/qc`.\n\nThe body follows the order-service create contract (passed through verbatim and authoritatively validated there). Requires an `admin` key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              },
              "examples": {
                "forward": {
                  "summary": "Forward COD order",
                  "value": {
                    "order_number": "MY-ORDER-1001",
                    "order_type": "b2c",
                    "payment_mode": "cod",
                    "order_collectable_amount": 1499,
                    "warehouse_id": "WH-001",
                    "shipping_address": {
                      "name": "Asha Rao",
                      "email": "asha@example.com",
                      "address": "12 MG Road",
                      "address_opt": "Flat 4B",
                      "pincode": 560001,
                      "city": "Bengaluru",
                      "state": "KA",
                      "country": "India",
                      "phone": 9876543210
                    },
                    "items": [
                      {
                        "name": "Wireless Mouse",
                        "qty": 1,
                        "price": 1499,
                        "sku": "WM-01"
                      }
                    ],
                    "package": {
                      "weight": 500,
                      "length": 12,
                      "width": 10,
                      "height": 6
                    }
                  }
                },
                "reverse": {
                  "summary": "Reverse (return) order",
                  "value": {
                    "order_type": "reverse",
                    "order_number": "RET-2001",
                    "payment_mode": "prepaid",
                    "warehouse_id": "WH-001",
                    "parent_order_id": "665f0a1b2c3d4e5f60718293",
                    "return_reason": "damaged_item",
                    "return_reason_note": "Screen cracked on arrival",
                    "shipping_address": {
                      "name": "Asha Rao",
                      "address": "12 MG Road",
                      "pincode": 560001,
                      "city": "Bengaluru",
                      "state": "KA",
                      "phone": 9876543210
                    },
                    "items": [
                      {
                        "name": "Phone",
                        "qty": 1,
                        "price": 14999,
                        "sku": "PH-128"
                      }
                    ],
                    "package": {
                      "weight": 350,
                      "length": 16,
                      "width": 8,
                      "height": 3
                    }
                  }
                },
                "reverseWithQc": {
                  "summary": "Reverse order with QC at pickup",
                  "value": {
                    "order_type": "reverse",
                    "order_number": "RET-2002",
                    "payment_mode": "prepaid",
                    "warehouse_id": "WH-001",
                    "parent_order_id": "665f0a1b2c3d4e5f60718293",
                    "return_reason": "wrong_item",
                    "qc_status": true,
                    "qc_data": [
                      {
                        "images": [
                          {
                            "url": "https://cdn.you.com/qc/front.jpg",
                            "category": "product"
                          }
                        ],
                        "is_used": false,
                        "is_damaged": false,
                        "brand": "Acme",
                        "color": "black",
                        "size": "M",
                        "serial_no": "SN-00917",
                        "imei": "356938035643809"
                      }
                    ],
                    "shipping_address": {
                      "name": "Asha Rao",
                      "address": "12 MG Road",
                      "pincode": 560001,
                      "city": "Bengaluru",
                      "state": "KA",
                      "phone": 9876543210
                    },
                    "items": [
                      {
                        "name": "Phone",
                        "qty": 1,
                        "price": 14999,
                        "sku": "PH-128"
                      }
                    ],
                    "package": {
                      "weight": 350,
                      "length": 16,
                      "width": 8,
                      "height": 3
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created (not booked).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Order"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SuccessMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "order_id": "ORD-123",
                    "order_number": "MY-ORDER-1001",
                    "order_status": "created"
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API-key pair, off-allowlist source IP, an expired key, or a `viewer` key on a mutating route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "UNAUTHORIZED",
                    "status": 401,
                    "code": "UNAUTHORIZED",
                    "detail": "Missing or invalid API key. Send both x-api-key and x-api-secret headers."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed (bad/missing fields).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "VALIDATION_FAILED",
                    "status": 422,
                    "code": "VALIDATION_FAILED",
                    "detail": "shipping_address.pincode must be a 6-digit number."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Honour `Retry-After`; back off using `x-ratelimit-remaining` / `x-ratelimit-reset`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "RATE_LIMITED",
                    "status": 429,
                    "code": "RATE_LIMITED",
                    "detail": "Too many requests \u2014 retry after the period in the Retry-After header."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "listOrders",
        "summary": "List orders",
        "description": "Paginated list. Filters pass through to the order-service list contract via query string.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            },
            "example": 20
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by order status (passthrough).",
            "schema": {
              "type": "string"
            },
            "example": "booked"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated orders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "description": "Orders (order-service list shape).",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "order_id": {
                            "type": "string",
                            "examples": [
                              "ORD-123"
                            ]
                          },
                          "order_status": {
                            "type": "string",
                            "examples": [
                              "booked"
                            ]
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginatedMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "order_id": "ORD-123",
                      "order_status": "booked"
                    }
                  ],
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "pagination": {
                      "page": 1,
                      "perPage": 20,
                      "total": 1,
                      "totalPages": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API-key pair, off-allowlist source IP, an expired key, or a `viewer` key on a mutating route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "UNAUTHORIZED",
                    "status": 401,
                    "code": "UNAUTHORIZED",
                    "detail": "Missing or invalid API key. Send both x-api-key and x-api-secret headers."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Honour `Retry-After`; back off using `x-ratelimit-remaining` / `x-ratelimit-reset`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "RATE_LIMITED",
                    "status": 429,
                    "code": "RATE_LIMITED",
                    "detail": "Too many requests \u2014 retry after the period in the Retry-After header."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "getOrder",
        "summary": "Get an order",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            },
            "example": "ORD-123"
          }
        ],
        "responses": {
          "200": {
            "description": "Order detail.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/OrderDetail"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SuccessMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "order_id": "ORD-123",
                    "order_status": "booked",
                    "shipment": {
                      "awb": "AWB123456789",
                      "courier_name": "Delhivery Surface",
                      "label_url": "https://labels.nimbuspost.com/AWB123456789.pdf"
                    }
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API-key pair, off-allowlist source IP, an expired key, or a `viewer` key on a mutating route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "UNAUTHORIZED",
                    "status": 401,
                    "code": "UNAUTHORIZED",
                    "detail": "Missing or invalid API key. Send both x-api-key and x-api-secret headers."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "NOT_FOUND",
                    "status": 404,
                    "code": "NOT_FOUND",
                    "detail": "Order ORD-999 was not found."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Honour `Retry-After`; back off using `x-ratelimit-remaining` / `x-ratelimit-reset`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "RATE_LIMITED",
                    "status": 429,
                    "code": "RATE_LIMITED",
                    "detail": "Too many requests \u2014 retry after the period in the Retry-After header."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{orderId}/cancel": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "cancelOrder",
        "summary": "Cancel an order",
        "description": "Cancels an order. Body follows the order-service cancel contract (passthrough). Requires an `admin` key.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            },
            "example": "ORD-123"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Cancellation reason.",
                    "examples": [
                      "customer cancelled"
                    ]
                  }
                }
              },
              "example": {
                "reason": "customer cancelled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancelled order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/CancelConfirmation"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SuccessMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "order_id": "ORD-123",
                    "order_status": "cancelled",
                    "cancelled": true,
                    "cancelled_at": "2026-06-25T10:00:00.000Z"
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API-key pair, off-allowlist source IP, an expired key, or a `viewer` key on a mutating route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "UNAUTHORIZED",
                    "status": 401,
                    "code": "UNAUTHORIZED",
                    "detail": "Missing or invalid API key. Send both x-api-key and x-api-secret headers."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "NOT_FOUND",
                    "status": 404,
                    "code": "NOT_FOUND",
                    "detail": "Order ORD-999 was not found."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Honour `Retry-After`; back off using `x-ratelimit-remaining` / `x-ratelimit-reset`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "RATE_LIMITED",
                    "status": 429,
                    "code": "RATE_LIMITED",
                    "detail": "Too many requests \u2014 retry after the period in the Retry-After header."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{orderId}/qc": {
      "patch": {
        "tags": [
          "Returns & QC"
        ],
        "operationId": "setOrderQc",
        "summary": "Set / replace QC data on a (reverse) order",
        "description": "Records the quality-check findings for a return. There is **NO multipart upload** on v2 \u2014 host the inspection images yourself and pass public URLs in `qc_data[].images[].url`. Each line also carries condition flags/identifiers (`is_used`, `is_damaged`, `brand`, `color`, `size`, `serial_no`, `imei`). QC applies to **reverse** orders only. Requires an `admin` key.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ORD-123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "qc_data"
                ],
                "properties": {
                  "qc_data": {
                    "type": "array",
                    "minItems": 1,
                    "description": "QC findings per item \u2014 at least one line.",
                    "items": {
                      "$ref": "#/components/schemas/QcLine"
                    }
                  }
                }
              },
              "example": {
                "qc_data": [
                  {
                    "images": [
                      {
                        "url": "https://cdn.example.com/qc/1.jpg",
                        "category": "front"
                      }
                    ],
                    "is_used": false,
                    "is_damaged": false,
                    "brand": "Acme",
                    "color": "Black",
                    "size": "M",
                    "serial_no": "SN-1",
                    "imei": ""
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated order QC.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/OrderQc"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SuccessMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "order_id": "ORD-123",
                    "qc_status": true,
                    "qc_data": [
                      {
                        "images": [
                          {
                            "url": "https://cdn.example.com/qc/1.jpg",
                            "category": "front"
                          }
                        ],
                        "is_used": false,
                        "is_damaged": false,
                        "brand": "Acme",
                        "color": "Black",
                        "size": "M",
                        "serial_no": "SN-1",
                        "imei": ""
                      }
                    ]
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API-key pair, off-allowlist source IP, an expired key, or a `viewer` key on a mutating route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "UNAUTHORIZED",
                    "status": 401,
                    "code": "UNAUTHORIZED",
                    "detail": "Missing or invalid API key. Send both x-api-key and x-api-secret headers."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "NOT_FOUND",
                    "status": 404,
                    "code": "NOT_FOUND",
                    "detail": "Order ORD-999 was not found."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "VALIDATION_FAILED",
                    "status": 422,
                    "code": "VALIDATION_FAILED",
                    "detail": "qc_data must contain at least one line."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Honour `Retry-After`; back off using `x-ratelimit-remaining` / `x-ratelimit-reset`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "RATE_LIMITED",
                    "status": 429,
                    "code": "RATE_LIMITED",
                    "detail": "Too many requests \u2014 retry after the period in the Retry-After header."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Returns & QC"
        ],
        "operationId": "getOrderQc",
        "summary": "Read back the QC data for an order",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ORD-123"
          }
        ],
        "responses": {
          "200": {
            "description": "Order QC data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/OrderQc"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SuccessMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "order_id": "ORD-123",
                    "qc_status": true,
                    "qc_data": [
                      {
                        "images": [
                          {
                            "url": "https://cdn.example.com/qc/1.jpg",
                            "category": "front"
                          }
                        ],
                        "is_used": false,
                        "is_damaged": false,
                        "brand": "Acme",
                        "color": "Black",
                        "size": "M",
                        "serial_no": "SN-1",
                        "imei": ""
                      }
                    ]
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API-key pair, off-allowlist source IP, an expired key, or a `viewer` key on a mutating route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "UNAUTHORIZED",
                    "status": 401,
                    "code": "UNAUTHORIZED",
                    "detail": "Missing or invalid API key. Send both x-api-key and x-api-secret headers."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "NOT_FOUND",
                    "status": 404,
                    "code": "NOT_FOUND",
                    "detail": "Order ORD-999 was not found."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Honour `Retry-After`; back off using `x-ratelimit-remaining` / `x-ratelimit-reset`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "RATE_LIMITED",
                    "status": 429,
                    "code": "RATE_LIMITED",
                    "detail": "Too many requests \u2014 retry after the period in the Retry-After header."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/shipments": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "operationId": "createShipment",
        "summary": "Create a shipment (create order + book in one call)",
        "description": "The one-shot \"create waybill\" flow: creates the order, auto-allocates the **top-ranked serviceable courier** (or honours a pinned `courier_id`), books, and returns the order **and** the booking (AWB, `courier_name`, `price` \u2014 where `price.total` is the amount deducted from your wallet \u2014 `label_url`, and the `tracking_url` / `tracking_short_url`). If no courier is serviceable the order is created but **not** booked, and the `400` error says so \u2014 re-attempt booking once a courier is available. Requires an `admin` key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateOrderRequest"
                  }
                ],
                "description": "The order create payload (see CreateOrderRequest) plus an optional `courier_id` to pin a courier. Omit `courier_id` to auto-allocate the top-ranked serviceable courier."
              },
              "example": {
                "order_number": "MY-ORDER-1001",
                "order_type": "b2c",
                "payment_mode": "cod",
                "order_collectable_amount": 1499,
                "warehouse_id": "WH-001",
                "shipping_address": {
                  "name": "Asha Rao",
                  "email": "asha@example.com",
                  "address": "12 MG Road",
                  "address_opt": "Flat 4B",
                  "pincode": 560001,
                  "city": "Bengaluru",
                  "state": "KA",
                  "country": "India",
                  "phone": 9876543210
                },
                "items": [
                  {
                    "name": "Wireless Mouse",
                    "qty": 1,
                    "price": 1499,
                    "sku": "WM-01"
                  }
                ],
                "package": {
                  "weight": 500,
                  "length": 12,
                  "width": 10,
                  "height": 6
                },
                "courier_id": "671e1a2b3c4d5e6f7a8b9001"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`{ order, booking }` \u2014 booking carries the AWB.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "order": {
                          "type": "object",
                          "properties": {
                            "order_id": {
                              "type": "string"
                            },
                            "order_status": {
                              "type": "string"
                            }
                          }
                        },
                        "booking": {
                          "$ref": "#/components/schemas/Booking"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SuccessMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "order": {
                      "order_id": "ORD-123",
                      "order_status": "booked"
                    },
                    "booking": {
                      "order_id": "ORD-123",
                      "awb": "AWB123456789",
                      "courier_id": "671e1a2b3c4d5e6f7a8b9001",
                      "courier_code": "delhivery-surface",
                      "courier_name": "Delhivery Surface",
                      "pickup_id": "PKP-9",
                      "order_status": "booked",
                      "price": {
                        "forward": 75,
                        "rto": 65,
                        "cod_charge": 15,
                        "surcharges": 5,
                        "insurance": 2,
                        "total": 102
                      },
                      "label_url": "https://labels.nimbuspost.com/AWB123456789.pdf",
                      "routing_key": "BLR/HUB",
                      "edd": "2026-06-18T00:00:00.000Z",
                      "tracking_url": "https://track.nimbuspost.com/track/AWB123456789",
                      "tracking_short_url": "https://nmbr.in/abc123"
                    }
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "400": {
            "description": "No serviceable courier \u2014 the order was created but not booked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "VALIDATION_FAILED",
                    "status": 400,
                    "code": "VALIDATION_FAILED",
                    "detail": "No serviceable courier is available for this order \u2014 the order was created but not booked."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API-key pair, off-allowlist source IP, an expired key, or a `viewer` key on a mutating route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "UNAUTHORIZED",
                    "status": 401,
                    "code": "UNAUTHORIZED",
                    "detail": "Missing or invalid API key. Send both x-api-key and x-api-secret headers."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed (bad/missing order fields).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "VALIDATION_FAILED",
                    "status": 422,
                    "code": "VALIDATION_FAILED",
                    "detail": "shipping_address.pincode must be a 6-digit number."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Honour `Retry-After`; back off using `x-ratelimit-remaining` / `x-ratelimit-reset`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "RATE_LIMITED",
                    "status": 429,
                    "code": "RATE_LIMITED",
                    "detail": "Too many requests \u2014 retry after the period in the Retry-After header."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/shipments/book": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "operationId": "bookShipment",
        "summary": "Book a shipment for an existing order",
        "description": "Books an already-created order. Omit `courier_id` to auto-allocate the top-ranked serviceable courier. Body follows the order-service booking contract. The response returns the `awb`, `courier_name`, the `price` breakdown (`price.total` is the amount deducted from your wallet), and the `tracking_url` / `tracking_short_url`. Requires an `admin` key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "order_id"
                ],
                "properties": {
                  "order_id": {
                    "type": "string",
                    "description": "Order to book.",
                    "examples": [
                      "ORD-123"
                    ]
                  },
                  "courier_id": {
                    "type": "string",
                    "description": "Pin a courier; omit \u2192 top-ranked serviceable courier auto-allocated.",
                    "examples": [
                      "671e1a2b3c4d5e6f7a8b9001"
                    ]
                  }
                }
              },
              "example": {
                "order_id": "ORD-123",
                "courier_id": "671e1a2b3c4d5e6f7a8b9001"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking result (AWB, courier, charges, label).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Booking"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SuccessMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "order_id": "ORD-123",
                    "awb": "AWB123456789",
                    "courier_id": "671e1a2b3c4d5e6f7a8b9001",
                    "courier_code": "delhivery-surface",
                    "courier_name": "Delhivery Surface",
                    "pickup_id": "PKP-9",
                    "order_status": "booked",
                    "price": {
                      "forward": 75,
                      "rto": 65,
                      "cod_charge": 15,
                      "surcharges": 5,
                      "insurance": 2,
                      "total": 102
                    },
                    "label_url": "https://labels.nimbuspost.com/AWB123456789.pdf",
                    "routing_key": "BLR/HUB",
                    "edd": "2026-06-18T00:00:00.000Z",
                    "tracking_url": "https://track.nimbuspost.com/track/AWB123456789",
                    "tracking_short_url": "https://nmbr.in/abc123"
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "400": {
            "description": "No serviceable courier for this order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "VALIDATION_FAILED",
                    "status": 400,
                    "code": "VALIDATION_FAILED",
                    "detail": "No serviceable courier is available for this order."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API-key pair, off-allowlist source IP, an expired key, or a `viewer` key on a mutating route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "UNAUTHORIZED",
                    "status": 401,
                    "code": "UNAUTHORIZED",
                    "detail": "Missing or invalid API key. Send both x-api-key and x-api-secret headers."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "NOT_FOUND",
                    "status": 404,
                    "code": "NOT_FOUND",
                    "detail": "Order ORD-999 was not found."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Honour `Retry-After`; back off using `x-ratelimit-remaining` / `x-ratelimit-reset`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "RATE_LIMITED",
                    "status": 429,
                    "code": "RATE_LIMITED",
                    "detail": "Too many requests \u2014 retry after the period in the Retry-After header."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/shipments/cancel": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "operationId": "cancelShipmentByAwb",
        "summary": "Cancel a shipment by AWB",
        "description": "Cancels a booked shipment by its AWB. Requires an `admin` key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "awb"
                ],
                "properties": {
                  "awb": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50,
                    "examples": [
                      "AWB123456789"
                    ]
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "examples": [
                      "customer cancelled"
                    ]
                  }
                }
              },
              "example": {
                "awb": "AWB123456789",
                "reason": "customer cancelled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/CancelShipmentResult"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SuccessMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "order_id": "ORD-123",
                    "awb": "AWB123456789",
                    "order_status": "cancelled",
                    "refund_amount": 102
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API-key pair, off-allowlist source IP, an expired key, or a `viewer` key on a mutating route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "UNAUTHORIZED",
                    "status": 401,
                    "code": "UNAUTHORIZED",
                    "detail": "Missing or invalid API key. Send both x-api-key and x-api-secret headers."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No shipment found for the AWB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "NOT_FOUND",
                    "status": 404,
                    "code": "NOT_FOUND",
                    "detail": "No shipment found for AWB AWB000."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Honour `Retry-After`; back off using `x-ratelimit-remaining` / `x-ratelimit-reset`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "RATE_LIMITED",
                    "status": 429,
                    "code": "RATE_LIMITED",
                    "detail": "Too many requests \u2014 retry after the period in the Retry-After header."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/shipments/pickup": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "operationId": "requestPickup",
        "summary": "Request a pickup",
        "description": "Schedules a pickup for the given order ids. Body follows the order-service pickup contract (passed through verbatim). Requires an `admin` key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Order ids to schedule a pickup for.",
                    "examples": [
                      [
                        "ORD-123",
                        "ORD-124"
                      ]
                    ]
                  }
                }
              },
              "example": {
                "ids": [
                  "ORD-123",
                  "ORD-124"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pickup request result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/PickupResult"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SuccessMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "order_id": "ORD-123",
                    "pickup_id": "PKP-9",
                    "pickup_date": "2026-07-01",
                    "pickup_time": "14:00"
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API-key pair, off-allowlist source IP, an expired key, or a `viewer` key on a mutating route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "UNAUTHORIZED",
                    "status": 401,
                    "code": "UNAUTHORIZED",
                    "detail": "Missing or invalid API key. Send both x-api-key and x-api-secret headers."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "VALIDATION_FAILED",
                    "status": 422,
                    "code": "VALIDATION_FAILED",
                    "detail": "ids must contain at least one order id."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Honour `Retry-After`; back off using `x-ratelimit-remaining` / `x-ratelimit-reset`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "RATE_LIMITED",
                    "status": 429,
                    "code": "RATE_LIMITED",
                    "detail": "Too many requests \u2014 retry after the period in the Retry-After header."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/shipments/labels": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "operationId": "generateLabels",
        "summary": "Generate shipping labels",
        "description": "Renders the merged label PDF for the given orders/AWBs. Body follows the order-service labels contract (e.g. `{ ids: [...] }` / `{ order_ids: [...] }`). The order-service labels surface returns `{ url, pageCount, expiresAt, documentType }`; `url` (surfaced here as `label_url`) is the downloadable merged-label PDF. Requires an `admin` key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "examples": [
                      [
                        "ORD-123",
                        "ORD-124"
                      ]
                    ]
                  }
                }
              },
              "example": {
                "ids": [
                  "ORD-123",
                  "ORD-124"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Merged label document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/LabelDocument"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SuccessMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "url": "https://labels.nimbuspost.com/bulk/abc.pdf",
                    "pageCount": 2,
                    "expiresAt": "2026-06-25T10:00:00.000Z",
                    "documentType": "label"
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API-key pair, off-allowlist source IP, an expired key, or a `viewer` key on a mutating route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "UNAUTHORIZED",
                    "status": 401,
                    "code": "UNAUTHORIZED",
                    "detail": "Missing or invalid API key. Send both x-api-key and x-api-secret headers."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "404": {
            "description": "One or more orders/AWBs not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "NOT_FOUND",
                    "status": 404,
                    "code": "NOT_FOUND",
                    "detail": "No printable labels found for the supplied ids."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Honour `Retry-After`; back off using `x-ratelimit-remaining` / `x-ratelimit-reset`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "RATE_LIMITED",
                    "status": 429,
                    "code": "RATE_LIMITED",
                    "detail": "Too many requests \u2014 retry after the period in the Retry-After header."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/tracking/{awb}": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "operationId": "trackByAwb",
        "summary": "Latest tracking + order summary by AWB",
        "description": "Returns the order summary plus the **latest** tracking event (`latest`). For the full event history, subscribe to the `tracking.updated` webhook.",
        "parameters": [
          {
            "name": "awb",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 50
            },
            "example": "AWB123456789"
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking summary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/TrackingSummary"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SuccessMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "orderId": "ORD-123",
                    "orderNumber": "MY-ORDER-1001",
                    "orderStatus": "booked",
                    "paymentMode": "cod",
                    "shipment": {
                      "awb": "AWB123456789",
                      "courierId": "671e1a2b3c4d5e6f7a8b9001",
                      "courierName": "Delhivery Surface",
                      "zone": "a",
                      "edd": "2026-06-18T00:00:00.000Z",
                      "pickedAt": "2026-06-12T10:00:00.000Z"
                    },
                    "shippingAddress": {
                      "city": "Bengaluru",
                      "state": "KA",
                      "pincode": "560001"
                    },
                    "totals": {
                      "total": 1499,
                      "collectable": 1499
                    },
                    "itemsCount": 1,
                    "latest": {
                      "shipStatus": "in transit",
                      "statusCode": "001-IT",
                      "eventTime": "2026-06-13T10:30:00.000Z",
                      "location": "Bengaluru Hub",
                      "message": "In transit"
                    }
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API-key pair, off-allowlist source IP, an expired key, or a `viewer` key on a mutating route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "UNAUTHORIZED",
                    "status": 401,
                    "code": "UNAUTHORIZED",
                    "detail": "Missing or invalid API key. Send both x-api-key and x-api-secret headers."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No shipment found for the AWB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "NOT_FOUND",
                    "status": 404,
                    "code": "NOT_FOUND",
                    "detail": "No shipment found for AWB AWB000."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Honour `Retry-After`; back off using `x-ratelimit-remaining` / `x-ratelimit-reset`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "RATE_LIMITED",
                    "status": 429,
                    "code": "RATE_LIMITED",
                    "detail": "Too many requests \u2014 retry after the period in the Retry-After header."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/tracking/bulk": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "operationId": "bulkTracking",
        "summary": "Bulk tracking lookup (\u2264100 AWBs)",
        "description": "One call, one query. Unknown AWBs are reported in `notFound[]` \u2014 **never** as a `404`. Caps at 100 AWBs.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "awbs"
                ],
                "properties": {
                  "awbs": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 100,
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 50
                    },
                    "examples": [
                      [
                        "AWB123456789",
                        "AWB987654321"
                      ]
                    ]
                  }
                }
              },
              "example": {
                "awbs": [
                  "AWB123456789",
                  "AWB987654321"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "found[] summaries + notFound[] AWBs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "found": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TrackingSummary"
                          }
                        },
                        "notFound": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "AWBs that matched no shipment."
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SuccessMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "found": [
                      {
                        "orderId": "ORD-123",
                        "orderNumber": "MY-ORDER-1001",
                        "orderStatus": "booked",
                        "paymentMode": "cod",
                        "shipment": {
                          "awb": "AWB123456789",
                          "courierId": "671e1a2b3c4d5e6f7a8b9001",
                          "courierName": "Delhivery Surface",
                          "zone": "a",
                          "edd": "2026-06-18T00:00:00.000Z",
                          "pickedAt": "2026-06-12T10:00:00.000Z"
                        },
                        "shippingAddress": {
                          "city": "Bengaluru",
                          "state": "KA",
                          "pincode": "560001"
                        },
                        "totals": {
                          "total": 1499,
                          "collectable": 1499
                        },
                        "itemsCount": 1,
                        "latest": {
                          "shipStatus": "in transit",
                          "statusCode": "001-IT",
                          "eventTime": "2026-06-13T10:30:00.000Z",
                          "location": "Bengaluru Hub",
                          "message": "In transit"
                        }
                      }
                    ],
                    "notFound": [
                      "AWB987654321"
                    ]
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API-key pair, off-allowlist source IP, an expired key, or a `viewer` key on a mutating route.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "UNAUTHORIZED",
                    "status": 401,
                    "code": "UNAUTHORIZED",
                    "detail": "Missing or invalid API key. Send both x-api-key and x-api-secret headers."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed (empty / >100 AWBs).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "VALIDATION_FAILED",
                    "status": 422,
                    "code": "VALIDATION_FAILED",
                    "detail": "awbs must contain between 1 and 100 entries."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Honour `Retry-After`; back off using `x-ratelimit-remaining` / `x-ratelimit-reset`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "RATE_LIMITED",
                    "status": 429,
                    "code": "RATE_LIMITED",
                    "detail": "Too many requests \u2014 retry after the period in the Retry-After header."
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000",
                    "traceId": "a8f3c1d2e9b04567"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/serviceability": {
      "post": {
        "tags": [
          "Serviceability & Couriers"
        ],
        "operationId": "checkServiceability",
        "summary": "Rate & serviceability check",
        "description": "Pincode pair + dimensions/weight/payment mode \u2192 serviceable couriers with rates. Body follows the rate-calculator contract. `orderValuePaise` is required for COD.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pickupPincode",
                  "deliveryPincode",
                  "paymentMode",
                  "packages"
                ],
                "properties": {
                  "pickupPincode": {
                    "type": "string",
                    "description": "6-digit pickup pincode.",
                    "examples": [
                      "110001"
                    ]
                  },
                  "deliveryPincode": {
                    "type": "string",
                    "description": "6-digit delivery pincode.",
                    "examples": [
                      "400001"
                    ]
                  },
                  "paymentMode": {
                    "type": "string",
                    "enum": [
                      "cod",
                      "prepaid"
                    ],
                    "examples": [
                      "cod"
                    ]
                  },
                  "packages": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "weight",
                        "length",
                        "width",
                        "height"
                      ],
                      "properties": {
                        "weight": {
                          "type": "number",
                          "description": "grams",
                          "examples": [
                            500
                          ]
                        },
                        "length": {
                          "type": "number",
                          "description": "cm",
                          "examples": [
                            10
                          ]
                        },
                        "width": {
                          "type": "number",
                          "description": "cm",
                          "examples": [
                            10
                          ]
                        },
                        "height": {
                          "type": "number",
                          "description": "cm",
                          "examples": [
                            10
                          ]
                        }
                      }
                    }
                  },
                  "orderValuePaise": {
                    "type": "number",
                    "description": "Order value in paise (required for COD).",
                    "examples": [
                      150000
                    ]
                  }
                }
              },
              "example": {
                "pickupPincode": "110001",
                "deliveryPincode": "400001",
                "paymentMode": "cod",
                "packages": [
                  {
                    "weight": 500,
                    "length": 10,
                    "width": 10,
                    "height": 10
                  }
                ],
                "orderValuePaise": 150000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Serviceable couriers + rate breakdown.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "examples": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Serviceability"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SuccessMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "pickupPincode": "110001",
                    "deliveryPincode": "400001",
                    "paymentMode": "cod",
                    "totalChargeableGrams": 500,
                    "available": [
                      {
                        "courierId": "671e1a2b3c4d5e6f7a8b9001",
                        "courierName": "Delhivery Surface",
                        "courierType": "surface",
                        "zone": "a",
                        "tatDays": 3,
                        "result": {
                          "chargeableGrams": 500,
                          "shippingChargesPaise": 7500,
                          "codChargesPaise": 1500,
                          "totalPaise": 10200
                        }
                      }
                    ],
                    "excluded": [
                      {
                        "courierId": "671e1a2b3c4d5e6f7a8b9003",
                        "reason": "NO_COD_SERVICE"
                      }
                    ]
                  },
                  "meta": {
                    "requestId": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "success": false,
                  "error": {
                    "type": "about:blank",
                    "title": "VALIDATION_FAILED",
                    "status": 400,
                    "code": "VALIDATION_FAILED",
[...]
